:root {
  --font-family-base: 'Clear Sans', 'Helvetica Neue', 'Arial';
  --page-min-width: 320px;
  --page-max-width: 500px;
  --page-padding-top: 1.8rem;
  --page-padding-side: 1rem;
  --page-section-gap: 2rem;
  --color-text-dark: #776e65;
  --color-main-bg: #faf8ef;
}

@media (min-width: 500px) {
  :root {
    --page-padding-top: 2rem;
    --page-padding-side: 1rem;
    --page-section-gap: 4rem;
  }
}

