.tile__appear > .tile__content {
  animation: tileAppear .2s ease .1s;
  animation-fill-mode: backwards;
}

@keyframes tileAppear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}