@font-face {
  font-family: "Clear Sans";
  src: url(e7b0c65b019baa69a79b.woff) format("woff"),
  url(45317dfe0a5ea19a241b.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}

@font-face {
  font-family: "Clear Sans";
  src: url(72f3056dc3712326ce55.woff) format("woff"),
  url(3ed943964e7f8c06886b.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url(92762598f32932934f7f.woff) format("woff"),
  url(7e54b34967b56e4ef1a9.woff2) format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}


:root {
  --font-family-base: 'Clear Sans', 'Helvetica Neue', 'Arial';
  --page-min-width: 320px;
  --page-max-width: 500px;
  --page-padding-top: 1.8rem;
  --page-padding-side: 1rem;
  --page-section-gap: 2rem;
  --color-text-dark: #776e65;
  --color-main-bg: #faf8ef;
}

@media (min-width: 500px) {
  :root {
    --page-padding-top: 2rem;
    --page-padding-side: 1rem;
    --page-section-gap: 4rem;
  }
}


.page {
  align-items: center;
  background-color: var(--color-main-bg);
  box-sizing: border-box;
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  font-size: 16px;
  font-weight: 400;
  gap: var(--page-section-gap);
  height: 100vh;
  line-height: 1.21;
  margin: 0 auto;
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  padding: var(--page-padding-top) 0 0;
  width: 100%;
}

canvas:focus {
  outline: none;
}

@media (min-width: 500px) {
  .page {
    padding: var(--page-padding-top) var(--page-padding-side) 0;
  }
}



