.tile_value_128 {
  background: var(--color-tile-128);
  box-shadow: var(--shadow-tile-128);
  color: var(--color-text-light);
  font-size: 2rem;
}

@media (min-width: 500px) {
  .tile_value_128 {
    font-size: 3rem;
  }
}