.board__cells {
  background: var(--color-background);
  border-radius: 6px;
  box-sizing: border-box;
  display: grid;
  gap: var(--board-gap);
  grid-template-columns: repeat(4, minmax(var(--tile-size), 1fr));
  margin: 0;
  min-width: var(--board-min-width);
  padding: var(--board-padding);
  position: absolute;
  z-index: 1;
}