.tile_value_2048 {
  background: var(--color-tile-2048);
  box-shadow: var(--shadow-tile-2048);
  color: var(--color-text-light);
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .tile_value_2048 {
    font-size: 2rem;
  }
}