.tile_value_1024 {
  background: var(--color-tile-1024);
  box-shadow: var(--shadow-tile-1024);
  color: var(--color-text-light);
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .tile_value_1024 {
    font-size: 2rem;
  }
}