.tile {
  position: absolute;
  width: var(--tile-size);
  height: var(--tile-size);
  min-width: var(--tile-min-size);
  min-height: var(--tile-min-size);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  list-style: none;
  font-size: 2.5rem;
  transition: transform .2s ease .1s;
}

@media (min-width: 500px) {
  .tile {
    font-size: 3.5rem;
  }
}