.score {
  align-items: center;
  background: var(--color-background);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55px;
  padding: 0 1.6rem;
  row-gap: .1rem;
  width: 100%;
  max-width: var(--score-max-width);
}